.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail img {
    height: 242px;
    width: 200px;
}

.glyphicon-thumbs-up {
    font-size: 25px;
    color: green;
}

.glyphicon-thumbs-up:hover {
    color: greenyellow;
}

.glyphicon-thumbs-down {
    font-size: 25px;
    color: darkred;
}

.glyphicon-thumbs-down:hover {
    color: red;
}