.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail img {
    height: 242px;
    width: 200px;
}

.glyphicon-thumbs-up {
    font-size: 20px;
    color: green;
}

.glyphicon-thumbs-up:hover {
    color: greenyellow;
}

.glyphicon-thumbs-down {
    font-size: 20px;
    color: darkred;
}

.glyphicon-thumbs-down:hover {
    color: red;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .btn:hover {
    background-color: #666;
    color: white;
}