<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}"/>
</head>

<body>
<nav th:replace="navbar :: navbar (genres=${genres})"></nav>

<div class="container text-align" style="width: 20rem;">
    <form th:action="@{/addMovie}" th:object="${movie}" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter title"/>
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" name="genre" id="genre" placeholder="Enter genre"/>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" name="image" id="image" placeholder="Enter url"/>
        </div>
        <button type="submit" class="btn btn-success btn-block">Add</button>
    </form>
</div>

</body>
</html>
