<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>MovieLoft</title>
</head>
<body>
    <nav th:replace="navbar :: navbar (genres=${genres})"></nav>

    <div th:replace="cards :: cards (moviesByField=${moviesByYear})"></div>

    <div class="container">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <span class="page-link" aria-hidden="true">Previous</span>
                </li>
                <th:block th:each="counter : ${#numbers.sequence(0, totalMovies)}">
                    <li class="page-item" th:classappend="${currentPage == counter} ? active">
                        <a class="page-link" th:href="@{/(page=${counter})}" th:text="${counter + 1}"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <span class="page-link" aria-hidden="true">Next</span>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
