<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>Main page</title>
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4"  th:each="movie : ${moviesByYear}">
            <div class="thumbnail">
                <img th:src="@{/images/default.png}" alt="ALT NAME"/>
                <div class="caption">
                    <h3 th:text="${movie.getTitle()}"></h3>
                    <p th:text="${movie.getGenre()}"></p>
                    <p>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>