<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title th:text="${#strings.capitalize(genre)}"></title>
</head>
<body>
    <nav th:replace="navbar :: navbar (genres=${genres})"></nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" th:each="movie : ${moviesByGenre}">
                <div class="thumbnail">
                    <img th:src="${movie.getImage()}" alt="ALT NAME"/>
                    <div class="caption">
                        <h4 class="title" th:text="${movie.getTitle()}"></h4>
                        <p th:text="${movie.getGenre()}"></p>
                        <p>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </p>
                        <div class="col-sm-6">
                            <span class="badge pull-right" style="background-color:teal" th:text="${movie.getRating()}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="pagination">
            <li><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
            <li><a
                th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                th:href="${urlBuilder.replaceQueryParam('page', counter).toUriString()}" th:each="counter : ${#numbers.sequence(0, totalMovies)}" th:text="${counter + 1}"></a></li>
            <li><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</body>
</html>
