<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title th:text="${#strings.capitalize(genre)}"></title>
</head>
<body>
    <nav th:replace="navbar :: navbar (genres=${genres})"></nav>

    <div th:replace="cards :: cards (moviesByField=${moviesByGenre})"></div>

    <div class="container">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <span class="page-link" aria-hidden="true">Previous</span>
            </li>
            <th:block th:each="counter : ${#numbers.sequence(0, totalMovies)}">
                <li class="page-item" th:classappend="${currentPage == counter} ? active">
                    <a class="page-link"
                       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('page', counter).toUriString()}"
                       th:text="${counter + 1}">
                    </a>
                </li>
            </th:block>
            <li class="page-item">
                <span class="page-link" aria-hidden="true">Next</span>
            </li>
        </ul>
    </div>
</body>
</html>
