<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="base :: head"></div>

    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>

<nav th:replace="navbar :: navbar (genres=${genres})"></nav>

<h1 th:text="Registration">form</h1>
<form th:action="@{/registration}" th:object="${user}" method="POST">

    <div>
        <label th:text="Login">Login</label>
        <input type="text" id="login" name="login" autofocus="autofocus"/>
        <p th:each="error: ${#fields.errors('login')}"
           th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="password">password</label>
        <input type="password" id="password" name="password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="confirm">confirm</label>
        <input type="passwordConfirm" id="passwordConfirm" name="passwordConfirm"/> <br/>
    </div>
    <button type="submit" th:text="Register">register</button>
    <a th:href="@{/login}" th:text="login">login</a>
</form>
</body>
</html>
