<html xmlns:th="http://www.w3.org/1999/xhtml">


<body>
<h1 th:text="Registration">form</h1>
<form th:action="@{/registration}" th:object="${user}" method="POST">

    <div>
        <label th:text="Login">Login</label>
        <input type="text" id="login" name="login" autofocus="autofocus"/>
        <p th:each="error: ${#fields.errors('login')}"
           th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="password">password</label>
        <input type="password" id="password" name="password"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="confirm">confirm</label>
        <input type="passwordConfirm" id="passwordConfirm" name="passwordConfirm"/> <br/>
    </div>
    <button type="submit" th:text="Submit">submit</button>
</form>

<a th:href="@{/login}" th:text="login">login</a>
</body>
</html>
